<div class="buttons-wrapper">
    <a href="/" class="logo">Wastebin</a>
    <div class="buttons">
        <a href="/new" class="button">New</a>
        <a href="/list" class="button">List</a>
        <a href="/save" class="button">Save</a>
    </div>
</div>